*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
.welcome-container{
    height: 100vh;
    background: url("./images/assets/backgrounds/background1.jpg");
    background-position: center;
    background-size: cover;    
    display: flex;
    justify-content: center;
    align-items: center;    
}
.welcome{
    color: white;     
    text-align: center;     
}
.welcome h1{  
    
    line-height: 1.8;
    margin-top: 50px;
    size: 7rem;
}
.services{
    background: url("./images/assets/backgrounds/background2.jpg");
    background-size: cover;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;    
    height: 50vh;       
}  

.about {
    text-align: center;
    height: 30vh;
    margin-top: 50px;
    
}
.whatwedo{
    display: flex;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}
.container-whatwedo h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.whatwedo img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pdesign, .pdev, .pproduct{
    display: none;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    
   
  }
  .grid-heading img {
      
    height: 13rem;
  }
  .grid-heading h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .contactus{
      background: url("./images/assets/backgrounds/background3.jpg");
      background-size: cover;
      height: 60vh;   
      margin-top: 40px;
      align-items: centre;
      padding: 20px;
      display: flex;
      flex-direction: column;
    justify-content: center;
    color: white;   

  }
  .contactus h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;

  }
 .comment{
     width: 70%;
     margin-top: 20px;
 }
 .footer-icons img{
     height: 2.5rem;
     
 }
 .footer-icons{
    display: flex;

     
     justify-content: center;
     margin-top: 20px;
 }
 .icons{
    text-align: center;
 }
 .image{
     padding: 4px;

 }
 .form-control{
     background: transparent;
 }
 .btn{
width: 100px;
margin: 20px;

 }
 .myform{
     
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .user input{
     width: 450px;
     color: white;
 }
 .portimage{
     position: relative;
    
 }
 .portimage img{
    /* opacity: 1; */
    display: block;  
    transition: .9s ease;
    backface-visibility: hidden;
 }
 .text{
    transition: .9s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
 }
 .portimage img:hover{
    opacity: 0.3;
 }
 .portimage:hover .text{
    opacity: 1;
 }
 .text p{
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
 }

 @media screen and (max-width: 1024px) {
     html, body{
         overflow-x: hidden !important;
     }
     .welcome{
        background-position: center;
        background-size: cover;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
     }
     .about{
        text-align: center;
        height: 60vh;
        margin-top: 10px;
     }
     .services{
         height: 60vh;
     }
    .whatwedo{
        flex-direction: column;
        padding: 30px;
        margin: 10px;
    }
    .grid-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.contactus{
    display: flex;
}
.user input{
    width: 100px;
}
#floatingTextarea2{    
    
    height: 120px !important;
}
.btn{
    margin-top: 20px;
}
.footer-icons img{
    height: 2rem;
}
.portimage img:hover{
    opacity: 0.3;
 }
 .portimage:hover .text{
    opacity: 1;
 }

 



     
  }

  
 



