*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* body{
    overflow-x: hidden;
}  */

.welcome-container{
    height: 100vh;
    background: url("./images/assets/backgrounds/background1.jpg");
    background-position: center;
    background-size: cover;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome{
    color: white; 
    /* border: 1px solid black;   */
    text-align: center;  
    
}
.services{
    background: url("./images/assets/backgrounds/background2.jpg");
    background-size: cover;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-align: center;
    height: 40vh;   
    
}

.about {
    text-align: center;
    height: 30vh;
    margin-top: 50px;
    
}
.whatwedo{
    display: flex;
    justify-content: space-between;

}
.container-whatwedo h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    
    /* background-color: #2196F3; */
    /* padding: 30px; */
  }
  .grid-heading img {
      
    height: 13rem;
  }
  .grid-heading h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .contactus{
      background: url("./images/assets/backgrounds/background3.jpg");
      background-size: cover;
      height: 60vh;   
      margin-top: 40px;
      align-items: centre;
      padding: 20px;
      display: flex;
      flex-direction: column;
    justify-content: center;
    /* align-items: center; */

  }
  .contactus h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;

  }
 .comment{
     width: 100%;
     margin-top: 20px;
 }
 
 

  
 



